
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<KullanıcıView>

<h1 class="text-center">Kullanıcılar</h1>

<table class="table table-hover table-info">
    <thead>
        <tr>
            <th scope="col">Kullanıcı Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">İlan Sayısı</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.İsim</th>
                    <th>@item.Soyisim</th>
                    <th>@item.Telefon</th>
                    <th>@item.KullanıcıAdi</th>
                    <th>@item.İlanSayısı</th>
                </tr>
            }
        }
    </tbody>
</table>